@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="text-center">
        <h3>Nous aurons une chouette fête.<br /></h3>
        <h4>Vous y êtes invité !</h4>

        <a class="btn btn-primary" asp-action="FormulaireRSVP">RSVP</a>
    </div>
</body>
</html>