@{
    ViewData["Title"] = "Accueil";
}
<body>
    @if (DépôtEF.UtilisateurConnecté) { 

        <div class="container">
            <a class="nav-link text-black-50" asp-area="" asp-controller="Location" asp-action="LouerVoiture"><i class="fa fa-user"></i>LOCATION VOITURE</a>
        </div>
    }
</body>
