@{
    ViewData["Title"] = "Accueil";
}
<body>
    @if (DépôtEF.UtilisateurConnecté) { 

    <div class="container">
        <div>
            <a class="nav-link text-dark" asp-area="" asp-controller="Location" asp-action="LouerVoiture"><i class="fa fa-car"></i>LOCATION DE VOITURE</a>
        </div>
        <div>
            <a class="nav-link text-dark" asp-area="" asp-controller="TraitementRetour" asp-action="RetournerVoiture"><i class="fa fa-undo"></i>RETOUR D'UNE VOITURE</a>
        </div>
        <div>
            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action=""><i class="fa fa-folder"></i>DOSSIER D'ACCIDENT</a>
        </div>
    </div>
    }
</body>
