@model CréerVoitureModèle
@{
    ViewData["Title"] = "Ajouter une voiture";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Création d'une succursale</h4>
        <form asp-action="AjouterVoiture" method="post" class="m-2">
            <div class="form-group">
                <label asp-for="NuméroVoiture">Numéro de voiture :</label>
                <input asp-for="NuméroVoiture" class="form-control" />
                <div><span asp-validation-for="NuméroVoiture" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="Modèle">Modèle :</label>
                <input asp-for="Modèle" class="form-control" />
                <div><span asp-validation-for="Modèle" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="Année">Année :</label>
                <input asp-for="Année" class="form-control" />
                <div><span asp-validation-for="Année" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label>Type de la voiture :</label>
                <select asp-for="Groupe" class="form-control">
                    <option value="@Voiture.GroupeVoiture.Compact">Compact</option>
                    <option value="@Voiture.GroupeVoiture.Luxe">Luxe</option>
                    <option value="@Voiture.GroupeVoiture.Sedan">Sedan</option>
                </select>
                <div><span asp-validation-for="Groupe" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="Millage">Millage à l'odomètre :</label>
                <input asp-for="Millage" class="form-control" />
                <div><span asp-validation-for="Millage" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="Succursale">Numéro de la succursale :</label>
                <input asp-for="Succursale" class="form-control" />
                <div><span asp-validation-for="Succursale" class="text-danger"></span></div>
            </div>
            <button type="submit" class="btn btn-primary">Créer la voiture</button>
        </form>
    </div>
</div>