@{
    ViewData["Title"] = "Accès refusé";
}
<div class="bg-danger mb-1 p-2 text-white"><h4>L'accès vous est refusé</h4></div>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">OK</a>