@model Utilisateur
@{
    ViewData["Title"] = "Création d'un utilisateur";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Création d'un utilisateur</h4>
        <form asp-action="AjouterUtilisateur" method="post" class="m-2">
            <div class="form-group">
                <label asp-for="NomUtilisateur">Nom d'utilisateur :</label>
                <input asp-for="NomUtilisateur" class="form-control" />
                <div><span asp-validation-for="NomUtilisateur" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="MotDePasse">Mot de passe :</label>
                <input asp-for="MotDePasse" class="form-control" />
                <div><span asp-validation-for="MotDePasse" class="text-danger"></span></div>

            </div>
            <div class="form-group">
                <label>Type d'utilisateur :</label>
                <select asp-for="Rôle" class="form-control">
                    <option value="@Utilisateur.TypeUtilisateur.Administrateur">Choisissez un rôle</option>
                    <option value="@Utilisateur.TypeUtilisateur.Commis">Commis</option>
                    <option value="@Utilisateur.TypeUtilisateur.Gérant">Gérant</option>
                </select>
                <div><span asp-validation-for="Rôle" class="text-danger"></span></div>
            </div>
            <button type="submit" class="btn btn-primary">Créer l'utilisateur</button>
        </form>
    </div>
</div>

