@model TP_Web.Models.CréerUtilisateurModèle
@{
    ViewData["Title"] = "Création d'un utilisateur";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Création d'un utilisateur</h4>
        <form asp-action="AjouterUtilisateur" method="post" class="m-2">
            <div class="form-group">
                <label asp-for="CodeUtilisateur">Code d'utilisateur :</label>
                <input asp-for="CodeUtilisateur" class="form-control" />
                <div><span asp-validation-for=" CodeUtilisateur" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="Courriel">Courriel :</label>
                <input asp-for="Courriel" class="form-control" />
                <div><span asp-validation-for=" Courriel" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="MDP">Mot de passe :</label>
                <input asp-for="MDP" class="form-control" />
                <div><span asp-validation-for="MDP" class="text-danger"></span></div>

            </div>
            <div class="form-group">
                <label>Type d'utilisateur :</label>
                <select asp-for="Rôle" class="form-control">
                    <option value="@CréerUtilisateurModèle.TypeUtilisateur.Utilisateur">Utilisateur</option>
                    <option value="@CréerUtilisateurModèle.TypeUtilisateur.Commis">Commis</option>
                    <option value="@CréerUtilisateurModèle.TypeUtilisateur.Gerant">Gérant</option>
                </select>
                <div><span asp-validation-for="Rôle" class="text-danger"></span></div>
            </div>
            <button type="submit" class="btn btn-primary">Créer l'utilisateur</button>
        </form>
    </div>
</div>

