@model Succursale
@{
    ViewData["Title"] = "Ajouter une succursale";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Création d'une succursale</h4>
        <form asp-action="AjouterUtilisateur" method="post" class="m-2">
            <div class="form-group">
                <label asp-for="SuccursaleId">Code de succursale:</label>
                <input asp-for="SuccursaleId" class="form-control" />
                <div><span asp-validation-for="SuccursaleId" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="NuméroCivique">Numéro civique :</label>
                <input asp-for="NuméroCivique" class="form-control" />
                <div><span asp-validation-for="NuméroCivique" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="NomRue">Nom de rue :</label>
                <input asp-for="NomRue" class="form-control" />
                <div><span asp-validation-for="NomRue" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="NomVille">Nom de ville :</label>
                <input asp-for="NomVille" class="form-control" />
                <div><span asp-validation-for="NomVille" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="NomProvince">Nom de province :</label>
                <input asp-for="NomProvince" class="form-control" />
                <div><span asp-validation-for="NomProvince" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="CodePostal">Code postal :</label>
                <input asp-for="CodePostal" class="form-control" />
                <div><span asp-validation-for="CodePostal" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="NuméroTéléphone">Numéro de téléphone :</label>
                <input asp-for="NuméroTéléphone" class="form-control" />
                <div><span asp-validation-for="NuméroTéléphone" class="text-danger"></span></div>
            </div>
            <button type="submit" class="btn btn-primary">Créer l'utilisateur</button>
        </form>
    </div>
</div>